<div class="row" >
    <div class="col-md-6">
      <div style="display: block;">
      <canvas baseChart width="200" height="75"
                  [datasets]="openPrice"
                  [labels]="date"
                  [options]="lineChartOptions"
                  [colors]="lineChartColors"
                  [legend]="lineChartLegend"
                  [chartType]="chartType"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
      </div>
    </div>

  </div>