

<div class="col-md-12">
  <h2>Buy Form</h2>
  <div *ngIf="loaded">
  <div class="col-md-6">
    <form [formGroup]="positionForm" (ngSubmit)=saveBuyDetailForm(positionForm)>
      <app-autocomplete (textChange)="textChangeHandler($event)"></app-autocomplete>
      <div class="form-group">
        <label for="ticker">Company:</label>
                
            <div id="radioBtn" class="btn-group">
              <a class="btn btn-primary" [class.active]="searchChoice"(click)="setSearchChoice(true)">Ticker</a>
              <a class="btn btn-default" [class.active]="!searchChoice"(click)="setSearchChoice(false)">Name</a>
            </div>
                 
        <em *ngIf="positionForm.controls.ticker.invalid && positionForm.controls.ticker.dirty ">Please enter a valid ticker</em>
        <!--------TODO force user to enter upper ---->
        <mat-form-field>
          <div class="col md-6"> <input type="text" matInput formControlName="ticker" [placeholder]="searchChoice ? 'Ticker Symbol' : 'Company Name'" [matAutocomplete]="auto"></div>
                
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option [value]="ticker.symbol + ':' + ticker.name" *ngFor="let ticker of filteredTickers |async| slice:0:5 " >
                <div class="form-control">{{ticker.symbol}} : {{ticker.name}}</div>
                
              </mat-option>
            </mat-autocomplete>
    
        </mat-form-field>


      </div>  

      <div class="form-group">
        <label for="price">Purchase price:</label>
        <em *ngIf="positionForm.controls.price.invalid && positionForm.controls.price.dirty">Please enter a valid price</em>
        <input class="form-control" formControlName="price" placeholder="buy price" />
      </div>  

      <div class="form-group">
        <label for="shares">Shares</label>
        <em *ngIf="positionForm.controls.shares.invalid && positionForm.controls.shares.dirty">Required</em>
        <input class="form-control" formControlName="shares" placeholder="number of shares"/>
      </div>
      
      <div class="form-group">
        <label for="date">Purchase date:</label>
        <em *ngIf="positionForm.controls.date.invalid && positionForm.controls.date.dirty">Please enter a valid date</em>
        <input class="form-control" formControlName="date" type="date"/>
      </div>

      <div class="form-group">
        <label for="story">Story</label>
        <em *ngIf="positionForm.controls.story.invalid && positionForm.controls.story.dirty">Required</em>
        <input class="form-control" formControlName="story" placeholder="what is the story of the company"/>
      </div>

      <div class="form-group">
        <label for="strength">Strength</label>
        <em *ngIf="positionForm.controls.strength.invalid && positionForm.controls.strength.dirty">Required</em>
        <input class="form-control" formControlName="strength" placeholder="what is the strength of the company"/>
      </div>

      <div class="form-group">
        <label for="weakness">Weakness</label>
        <em *ngIf="positionForm.controls.weakness.invalid && positionForm.controls.weakness.dirty">Required</em>
        <input class="form-control" formControlName="weakness" placeholder="what is the weakness of the company"/>
      </div>

      <div class="form-group">
        <label for="opportunity">Opportunity</label>
        <em *ngIf="positionForm.controls.opportunity.invalid && positionForm.controls.opportunity.dirty">Required</em>
        <input class="form-control" formControlName="opportunity" placeholder="what is the opportunity of the company"/>
      </div>

      <div class="form-group">
        <label for="threat">Threat</label>
        <em *ngIf="positionForm.controls.threat.invalid && positionForm.controls.threat.dirty">Required</em>
        <input class="form-control" formControlName="threat" placeholder="what is the threat of the company"/>
      </div>



      <button class="btn-default" [disabled]="positionForm.invalid"type="submit">Save</button>
      


    </form>
  </div>
  </div>
  
</div>