

<div class="col-md-12">
    <h2>sell FOrm</h2>
    <div class="col-md-6">
      <form [formGroup]="positionForm" (ngSubmit)=saveSellDetailForm(positionForm)>
  
        <div class="form-group">
          <label for="ticker">Ticker:</label>
          <em *ngIf="positionForm.controls.ticker.invalid && positionForm.controls.ticker.dirty">Please enter a valid ticker</em>
          <input class="form-control" formControlName="ticker" placeholder="ticker symbol"/>
        </div>  
  
        <div class="form-group">
          <label for="price">Purchase price:</label>
          <em *ngIf="positionForm.controls.price.invalid && positionForm.controls.price.dirty">Please enter a valid price</em>
          <input class="form-control" formControlName="price" placeholder="buy price" />
        </div>  
        
        <div class="form-group">
          <label for="date">Purchase date:</label>
          <em *ngIf="positionForm.controls.date.invalid && positionForm.controls.date.dirty">Please enter a valid date</em>
          <input class="form-control" formControlName="date" placeholder="purchase date" type="date"/>
        </div>
  
        <div class="form-group">
          <label for="sellReason">Rationale:</label>
          <em *ngIf="positionForm.controls.sellReason.invalid && positionForm.controls.sellReason.dirty">Required</em>
          <input class="form-control" formControlName="sellReason" placeholder="sell reason" />
        </div>
  
        <button class="btn-default" [disabled]="positionForm.invalid"type="submit">Save</button>
        
  
  
      </form>
    </div>
  </div>