

<div class="col-md-12">
    <h2>Sell Form</h2>
    <div class="col-md-6">
      <form [formGroup]="positionForm" (ngSubmit)=saveSellDetailForm(positionForm)>
  
        <div class="form-group">
          <label for="ticker">Ticker:</label>
          <em *ngIf="positionForm.controls.ticker.invalid && positionForm.controls.ticker.dirty">Please enter a valid ticker</em>
          <select class="form-control" formControlName="ticker" placeholder="ticker symbol">
            <option *ngFor="let ticker of tickers" [value]="ticker">{{ticker}}</option>
            </select>
        </div>  
  
        <div class="form-group">
          <label for="price">Price sold:</label>
          <em *ngIf="positionForm.controls.price.invalid && positionForm.controls.price.dirty">Please enter a valid price</em>
          <input class="form-control" formControlName="price" placeholder="price sold at" />
        </div>  

        <div class="form-group">
          <label for="shares">Number of shares:</label>
          <em *ngIf="positionForm.controls.shares.invalid && positionForm.controls.shares.dirty">Please enter a valid number</em>
          <input class="form-control" formControlName="shares" placeholder="number of shares" />
        </div>  
        
        <div class="form-group">
          <label for="date">Sell date:</label>
          <em *ngIf="positionForm.controls.date.invalid && positionForm.controls.date.dirty">Please enter a valid date</em>
          <input class="form-control" formControlName="date" placeholder="sell date" type="date"/>
        </div>
  
        <div class="form-group">
          <label for="sellReason">Rationale:</label>
          <em *ngIf="positionForm.controls.sellReason.invalid && positionForm.controls.sellReason.dirty">Required</em>
          <input class="form-control" formControlName="sellReason" placeholder="sell reason" />
        </div>
  
        <button class="btn-default" [disabled]="positionForm.invalid"type="submit">Save</button>
        
  
  
      </form>
    </div>
  </div>