<div>
    <h3>Your Current Positions</h3>
    <hr/>
    <div class="btn-group">
        <button class="btn-group btn-default" [class.active]="currentSort==='ticker'" (click)="currentSort=sortService.sortBy('ticker', currentPositions)">By Ticker</button>
        <button class="btn-group btn-default" [class.active]="currentSort==='holding'" (click)="currentSort=sortService.sortBy('holding', currentPositions)">By Holding</button>
        <button class="btn-group btn-default" [class.active]="currentSort==='time'" (click)="currentSort=sortService.sortBy('time', currentPositions)">By Recent</button>
    </div>
    <div>
            <div class="col-md-2">
                <a>ticker</a>
            </div>
            <div class="col-md-4">
                <a>Total Holding</a>
            </div>
            <div class="col-md-1">
                Current Price
            </div>
            <div class="col-md-2">
                Price difference to date      
            </div>
            <div class="col-md-3 text-right">
                Purchase date
            </div>
     
        </div>
    <div class="row" *ngFor="let position of currentPositions">
        <div class="col-md-12">
            <app-position-list-view [position]="position"></app-position-list-view>
        </div>
    </div>

</div>